flask==3.0.0
flask-cors==6.0.0
gunicorn==21.2.0
numpy==1.26.4
opencv-python-headless==4.9.0.80
pillow==10.2.0
scikit-image==0.22.0
scikit-learn==1.4.0
scikit-fuzzy==0.4.2
scipy==1.12.0
matplotlib==3.8.2
tensorflow-cpu==2.15.0
